# Do not include development files in the Helm package
.git/
.gitignore
.containerignore
.podmanignore
.copilotignore
Dockerfile
Containerfile

# Ignore local deploy scripts
deploy.sh
*.log

# Ignore Helm test artifacts when they are not used
charts/*.tgz
